<template>
    <div>
        <component :is="`h${level+1 <= 6 ? level+1 : 6}`">{{ name }}</component>

        <div v-for="(k) in keys" :key="k">

            <template v-if="typeof json[k] === 'string'">
                ({{ name }}).{{ k }} = <input v-model="json[k]" />
            </template>
            
            <template v-else>
                <JsonEditor :json="json[k]" :name="`${level !== 0 ? `${name}.${k}` : `${k}`}`" :level="level+1" />
            </template>

        </div>
    </div>
</template>

<script>
import { reactive, toRefs, computed } from 'vue'

export default {
    props: {
        json: { type: Object, default: ()=>({}) },
        name: { type: String, default: 'Root' },
        level: { type: Number, default: 0 }
    },
    setup (props) {
        const state = reactive({
            json: {...props.json}
        })

        const keys = computed(() => {
            return Object.keys(state.json)
        })

        return {
            ...toRefs(state),
            keys,
        }
    }
}
</script>

<style lang="scss" scoped>

</style>