<script setup>
// This starter template is using Vue 3 <script setup> SFCs
// Check out https://vuejs.org/api/sfc-script-setup.html#script-setup
import { downloadObjectAsJson } from './common/generate_download'
import JsonEditor from './components/JsonEditor.vue';
import { reactive, ref } from 'vue'

const state = reactive({
  json: 
  {
    test: {
      message: 'Hello',
    },
    fr: {
      textfr: 'hello!',
      test: {
        message: 'Hello FR'
      }
    }
  },
})

const json = ref(state.json)

const saveJson = () => {
  downloadObjectAsJson(json.value, 'data_langs')
}

</script>

<template>
  <div>
    <JsonEditor :json="json" />
    <hr>
    <button @click="saveJson">Save now</button>
  </div>
  
</template>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
